################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UnityGame-Platformer/FileContentIndex
/.vs
/Unity-Platformer/Library
/Unity-Platformer/Logs
/Unity-Platformer/UserSettings
